@import "../../variables.scss";

@include phone {
    #nav {
        background-color:transparent;
        z-index:5;
        box-shadow:none;  
          #main-title {
            color:white;
          }
          #main-button {
            top:0;
            font-size:1.5rem;
            margin-left:auto;
            display:flex;
            justify-content:right;
            color:white;
            background-color:transparent !important;
            border:1px solid rgba(255, 255, 255, .3);
            border-radius: 0.5rem;
            &:hover {
                color:$myColor;
                background-color:white !important;
                border:1px solid $myColor !important;
                transition:0.3s;
            }
            &:focus {
                border-color:white;
                box-shadow:0 0 10px rgba(255, 255, 255, .3);
            }
          }
    }
}

@include tablet-phone {
    #nav {
        background-color:transparent;
        z-index:5;
        box-shadow:none;  
          #main-title {
            color:white;
          }
          #main-button {
            top:0;
            font-size:1.5rem;
            margin-left:auto;
            display:flex;
            justify-content:right;
            color:white;
            background-color:transparent !important;
            border:1px solid rgba(255, 255, 255, .3);
            border-radius: 0.5rem;
            &:hover {
                color:$myColor;
                background-color:white !important;
                border:1px solid $myColor !important;
                transition:0.3s;
            }
            &:focus {
                border-color:white;
                box-shadow:0 0 10px rgba(255, 255, 255, .3);
            }
          }
    }
}

@include desktop {
    #nav {
        background-color:transparent;
        z-index:5;
        box-shadow:none;  
          #main-title {
            color:white;
          }
          #main-button {
            top:0;
            font-size:1.5rem;
            margin-left:auto;
            display:flex;
            justify-content:right;
            color:white;
            background-color:transparent !important;
            border:1px solid rgba(255, 255, 255, .3);
            border-radius: 0.5rem;
            &:hover {
                color:$myColor;
                background-color:white !important;
                border:1px solid $myColor !important;
                transition:0.3s;
            }
            &:focus {
                border-color:white;
                box-shadow:0 0 10px rgba(255, 255, 255, .3);
            }
          }
    }
}